# Ignore all `.log` files:
*.json
*.log
*.dat
*.xml
*.txt
*.yaml

# Ignore `.DS_Store` (macOS) and `Thumbs.db` (Windows)
.DS_Store
.Thumbs.db

# Ignore schematic save directories:
models
library/save
library/systems
library/components